<h1>Topics</h1>
 <div class="row">
  <div class="col-md-6">
    <% @topics.each do |topic| %>
      <div class="media">

        <div class="media-heading">
          <h4><%= link_to topic.title, topic %></h4>
        </div>

        <div class="media-body">
          <div class="col-md-8 panel panel-info">
            <% topic.videos.each do |video| %>
              <ul style="list-style-type:none">
                <li> <%= link_to image_tag("http://img.youtube.com/vi/#{video.video_id}/2.jpg"), topic_video_path(topic, video) %></li>
                <li>  <%= link_to video.video_title, topic_video_path(topic, video) %></li>
              </ul>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

<div class="col-md-4">
  <% if policy(Video.new).create? %>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
  <% else %>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <h6> (you must be signed in to create a new topic!) </h6>
  <% end %>
</div>


<% comment do %>
    NOTE form partial _part only contains the list and not the loop bc  index.html uses topic.videos; show.html uses @topic.videos
<% comment end %>
