<h1>Topics</h1>

<!--topic list -->
<div class="row nav nav-tabs">
 <div class="col-md-12">
   <% @topics.each do |topic| %>
     <div class="media inline-block">
       <div class="media-heading">
         <h6><%= link_to topic.title, topic %>&nbsp; &nbsp; &nbsp;</h6>
       </div>
     </div>
   <% end %>
 </div>
</div>

 &nbsp;
 <div class="row">
  <div class="col-md-12">
    <% @topics.each do |topic| %>
      <div class="panel">

        <div class="panel-heading">
          <h4><%= link_to topic.title, topic %></h4>
        </div>
        <div class="panel-body">
          <div class="col-md-12 panel panel-info">
            &nbsp;
            <% topic.videos.each_slice(3) do |slice| %>
              <%= render partial: 'videos/slice', locals: {slice: slice} %>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

<div class="col-md-4">
  <% if policy(Video.new).create? %>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
  <% else %>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <h6> (you must be signed in to create a new topic!) </h6>
  <% end %>
</div>
