<h1><%= @topic.title %></h1>
 <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
 <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
 <div class="row">
   <div class="col-md-12">
     <div class="media">
       <div class="media-heading"
        <h4>Videos in this topic:</h4>
       </div>

       <div class="media-body">
         <div class="col-md-8 panel panel-info">
           <% @topic.videos.each do |video| %>
             <ul style="list-style-type:none">
               <li> <%= link_to image_tag("http://img.youtube.com/vi/#{video.video_id}/2.jpg"), topic_video_path(@topic, video) %></li>
               <li>  <%= link_to video.video_title, topic_video_path(@topic, video) %></li>
             </ul>
           <% end %>
         </div>
       </div>

     </div>
   </div>
 </div>
 <%= link_to "Add Video", new_topic_video_path(@topic), class: 'btn btn-success' %>

 <div>
   <p>You can also submit new videos by email using the following format: </p>
   <ul style="list-style-type:none"
     <li><%= mail_to "videos@argus.today", 'videos@argus.today' %></li>
     <li> Subject:  [put the topic name]</li>
     <li> Body:     [put only the link]</li>
   </ui>
 </div>
