<!--similar to topics index view  -->

<h1>My Submitted Videos and Favorites</h1>
 <div class="row">
  <div class="col-md-6">
      <div class="media">

        <div class="media-heading">
          <h4>My Submitted Videos</h4>
        </div>
        <div class="media-body">
          <div class="col-md-8 panel panel-info">
            <% @user_videos.each do |video| %>
              <%= render partial: 'votes/voting', locals: { video: video } %>
              <ul style="list-style-type:none">
                <li> <%= link_to image_tag("http://img.youtube.com/vi/#{video.video_id}/2.jpg"), topic_video_path(video.topic, video)  %></li>
                <li>  <%= link_to video.video_title, topic_video_path(video.topic, video) %></li>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="media-heading">
          <h4>My Favorited Videos</h4>
        </div>
        <div class="media-body">
          <div class="col-md-8 panel panel-info">
            <% @favorited_videos.each do |video| %>
              <%= render partial: 'votes/voting', locals: { video: video } %>
              <ul style="list-style-type:none">
                <li> <%= link_to image_tag("http://img.youtube.com/vi/#{video.video_id}/2.jpg"), topic_video_path(video.topic, video) %></li>
                <li>  <%= link_to video.video_title, topic_video_path(video.topic, video) %></li>
              </ul>
            <% end %>
          </div>
        </div>

      </div>
  </div>
</div>
