<iframe src='https://www.youtube.com/embed/<%= @video.video_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>



<div>
  <% if policy(Video.new).create? %>
    <%= link_to "Delete Video", [@video.topic, @video], method: :delete, class: 'btn btn-danger' %>
    <%= link_to "Edit Video", edit_topic_video_path(@video.topic, @video), class: 'btn btn-success' %>
  <% else %>
    <%= link_to "Delete Video", [@video.topic, @video], method: :delete, class: 'btn btn-danger' %>
    <%= link_to "Edit Video", edit_topic_video_path(@video.topic, @video), class: 'btn btn-success' %>
    <h6> You must be signed in to edit videos!</h6>
  <% end %>
</div>
